* {
    margin: 0px;
}

body {
    overflow-x: hidden;
}

p {
    color: gray;
}
section > .container{
    margin: auto;
    display: block;
    padding: 30px 50px;
}


.bg-grey {
    background: #f7f7f7;
}
#nav-bar {
    text-align: center;
}

/*Banner*/

.banner {
  /*  position: relative;*/
    text-align: center;
    color: white;
    height: 350px;

}

.banner img {
   /* position: absolute;*/
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.title {
    position: absolute;
    top: 15%;
    left: 50%;
    font-family: Arial;
    transform: translate(-50%, -50%);
    
}

.title h1 {
    font-weight: 100;
    
}

.title p {

    text-shadow: 0 0px blue;
    font-size: small;
}

/*Nvabar*/
i {
    color: blue;
}

#about {
    margin-top: -30px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 30%;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: blue;
    
  }
  
  .input {
    border-radius: 5px;
    padding: 20px;
    margin-left: -20px;
  }

  .input p {
    margin-top: 2px;
    color: grey;
    font-size: smaller;
  } 

  .mt-40 {
       visibility: hidden ;
  }

  .icon {
    visibility: hidden ;
}
/*Job info*/
.SubDiv {
   margin-top: 10px;
   
}



.fav {
        
    color: blue;
    height: 55px;
    width: 64px;
    border-radius: 50%;
    border: 2px solid blue;
    
}

#job-info .container .div {
    border:1px solid gainsboro;
    margin-top: 20px;
}


.Icon {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.20fr;
    margin-left: 10px;
    column-gap: 10px;

}

    /* EngLish and Skill */
    .evaluation{
        
        display: grid;
        grid-template-rows: 1fr 1fr  1fr 1fr;
        row-gap: 20px;
        margin-left: 40px;
        color: grey;
        
    }
    
    /*Line of Evaluation */
    
    .inline {
        background: gray;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
        
    }

    /*SetUP btn View*/
  
    .view:hover{
        border-radius: 50px;
        width: 30%;
        border: 2px solid yellow;
        background-color: yellow;
        text-align: center;
        color: black;
    
    }

/*Laptop*/
@media only screen and (min-width: 1024px) {
   
    
    
    section > .container{
        width: 1170px;
   
    }

    /*Nvabar*/
    .container {
        display: grid;
        grid-template-columns : repeat(5,1fr);
        font-family: Arial;
        
    }
    
    #nav-bar .container {
        display: grid;
        grid-template-columns : repeat(5,1fr);
        margin-top: -30px;
        
    }
    
    #nav-bar a{
        border-right: 0.25px solid gainsboro;
        padding-top: 45px;
        text-transform: uppercase;   
    }
    
    .title h1 {
        font-weight: 100;
        
    }

    .title2 {
        border-right: 0.25px solid gainsboro;
        margin-top: 20px;
        
    }
    
    .title2 p {
        margin-top: -10px;
        color: gray;
    }
    
    #info {
       border-left: 0.25px solid gainsboro;
       font-size: medium;
    }

    
    
    
    /*About*/
    #personal-info {
        margin-left: 90px;
        
    }

    .icon {
        padding-left: 50px;
    }

   /* #item2 {
        background-color:gainsboro ;
        
    }
    #personal-info {
        background-color:gainsboro ;
        width: 600px;
    }*/

    /*Job Info*/
    #job-info {
        height: 1100px;
    }

    #job-info .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 350px;
        gap: 20px;
        row-gap: 259px;

        margin-left: 8%;
    }



    .icon {
        visibility: hidden;
    }
    
    .SubDiv {
        display: grid;
        grid-template-columns: 4fr 1fr;
        margin-left: 40px;
    }
    
    .SubDiv2 {
        margin-left: 35px;
    }
    
    .timeline {
        display: flex;
        margin-left: 20px;
        font-style: italic;
        margin-top: -5px;
        font-size: small;
        color: grey;
    }
    
    #current {
        border-radius: 5px;
        border: 2px solid blue;
        background-color: blue;
        color: white;
    }
    
    .content {
        margin-left: 20px;
        font-size: small;
        color: grey;   
    }
    

    
    .fav h1{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .titlefavou {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.20fr;
        margin-left: 18px;
        text-align: center;
        color: grey;
    }
    
    /* EngLish and Skill */
    .evaluation{
        
        display: grid;
        grid-template-rows: 1fr 1fr  1fr 1fr;
        row-gap: 20px;
        margin-left: 40px;
        color: grey;
        
    }
    
    /*Line of Evaluation */
    
    .inline {
        background: gray;
        display: inline-block;
        height: 2px;
        margin-right: 10px;
        width: 45px;
        
    }
    
    .Inlines {
        margin-top: -20px;
    }

    .lab {
        height: 630px;
    }

        /* Certification */

    #certificate {
        height: 490px;
        margin-top: 10px;
    }

    #certificate .container {
        margin-left: 190px;
        padding-top: 30px;
    }

    .detail {
        display: grid;
        grid-template-rows: 150px 150px ;
        row-gap: 1px;
        margin-top: 30px;
        margin-left: auto;
    
    }

    .column {
        display: grid;
        grid-template-columns: 2fr 2fr ;
        gap: 1px;
    }

    .column2 {
        margin-left: 12px;
    }

    .subcolumn {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr ;
        gap: 30px;

    }

    .subcolumn2 {
        margin-top: -15px;
    }

    #cell00 {
        border-right-style: solid;
        border-right-color: #d6c08d;
    }

    .row1 {
        border-bottom-style: solid;
        border-bottom-color: #d6c08d;
    }

    .contentcer {
        color: gray;
    }
    #cer {
        margin-left: -100px;
    }
   
    /*Project */

    

    #project {
        height: 635px;
        margin-left: -90px;
        padding-top: 30px;
        width: auto;
        
    }


    .colProject {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 30px;
        height: 495px;
        margin-top: 10px;
        margin-left: 30px;
        
    }

    .project img{
        width: 370px; 
        height: 500px;
    }

    /*footer*/

    #footer {
        height: 100px;
    }

    #footer .container {
        display: flex;
        margin-left: 630px;
        padding-top: 30px;
        width: auto;
    }

    .foot {
        display: flex;
    }

    .ficon {
        color: blue;
    }

    .foot .content {
        margin-left: 3px;
        margin-top: 3px;
    }

    #f1 #f2 {
        margin-left: 10px;
    }
 
    
    
    
    
}


