@media  only screen and (max-width: 767px) {
    section > .container{
        max-width: 60%;
    
    }


    
    .banner {
      height: 750px;
      width: 100%;
    }

    .title2 {
      display: none;
    }

      /*Nvabar*/
    
      #nav-bar a{
        border: none;
        padding-top: 45px;
        text-transform: uppercase;
        height: 120px;
      }

      #nav-bar .container {
        display: grid;
        grid-template-columns : repeat(1,1fr);
        margin-left: -10px;
      } 

      .mobile {
        margin-left: -25px;
      }
    
    .mobile-cer {
        margin-left: 10px;
    }

    .mobile-project{
        margin-left: -30px;
    }


    #personal-info {
      margin-left: 0px;
    }

    /*About*/
    #about .row{
      display: grid;
      grid-template-columns: 1fr;
      width: 375px;
      margin-left: -120px;
    }

     /*Jobinfo*/
     #job-info {
      width: auto;
      height: 800px
    }

    #job-info .container {
       display: inline;
       height: max-content;
    }

    #favourite {
       height: auto;
    }
    
    #skills {
      height: 400px;
    }
    /*certification*/

    #certificate {
       margin-top: 2000px;
       height: auto;
       width: 390px;

    }
    #certificate .container {
      margin-left: 10px;
    }
    
    .detail {
      display:inline;
      
  
    }

  

    .row1 {
      display: inline;

    }

    .column {
      display: inline;
    }

    #cell00 {
      border-right: none;
      border-bottom-style: solid;
      border-bottom-color: #d6c08d;
    }
    
    .column2 {
      border-bottom-style: solid;
      border-bottom-color: #d6c08d;
      margin-top: 20px;
    }

    #cer {
      margin-left: -30px;
    }
    
    #subco {
      margin-left: -12px;
    }
    
     /*Project*/

     .colProject {
      display: inline;
      
    }

   
    #img-project1{
      width: 350px;
    }

    #img-project2{
        width: 350px;
    }

    #img-project3{
        width: 350px;
    }

        /*footer*/
    #footer {
      height: 100px;
      width: auto;
  }

  #footer .container {
      display: flex;
      margin-left: 30px;
      padding-top: 30px;
      width: 150px;
  }



}