@media only  screen and (max-width: 1023px) {

    
    section > .container{
        width: 1023px;
    
    }

    .title {
        top: 10%;
    }


    #nav-bar .container {
        display: grid;
        grid-template-columns : repeat(5,1fr);
        margin-top: -30px;
        width: auto;
        
    }
     /*Nvabar*/
    
    #nav-bar a{
        border-right: 0.25px solid gainsboro;
        padding-top: 45px;
        text-transform: uppercase;
        height: 120px;
    }
    
    .title h1 {
        font-weight: 100;
        
    }

    .title2 {
        border-right: 0.25px solid gainsboro;
        margin-top: 20px;
        
    }
    
    .title2 p {
        margin-top: -10px;
        color: gray;
    }
    
    #info {
       border-left: 0.25px solid gainsboro;
       font-size: medium;
    }

    .namepos {
        display: none;
    }

         /*About*/
    #personal-info {
        margin-left: 90px;
          
    }

  /*  #item2 {
        background-color:gainsboro ;
        
    }
    #personal-info {
        background-color:gainsboro ;
        width: 280px;
    }*/

    /*Jobinfo*/
    #job-info {
        height: 2100px;
    }
                    
    
    
    #job-info .container{
        width: 750px;
        height: 1900px;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 700px 500px 50px;
        column-gap: 30px;
        row-gap: 30px;
  
    }

    #experience {
        grid-row: 1/2;
    }

    #operation {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    #education {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        font-size: x-small;
        height: max-content;

    }

    #edu {
        font-size: x-large;
    }

    #viewmoreedu {
        font-size: medium;
    }

    #favourite {
        grid-row: 3/ span 1 ;
        grid-column: 2 / span 1;
        height: 750px;
  
    }

    #skills {
        grid-row: 2/ span 2 ;
        grid-column: 1 / span 1;
        
    }

    #language {
        height: 550px;

    }

    .SubDiv {
        display: grid;
        grid-template-columns: 4fr 1fr;
        margin-left: 40px;
    }
    
    .SubDiv2 {
        margin-left: 35px;
    }

     /* Certification */
     
        
     #certificate {
        height: 600px;
        margin-top: 10px;
    }


    .detail {
        display: grid;
        grid-template-rows: 150px 150px ;
        row-gap: 1px;
        margin-top: 100px;
        margin-left: 90px;
    
    }

    .column {
        display: grid;
        grid-template-columns: 2fr 2fr ;
        gap: 1px;
    }
    
    .column2 {
        margin-left: 12px;
    }

    .subcolumn {
        display: inline-block;
    }

    .subcolumn2 {
    
        margin-top: 5px;
    }

    #cell00 {
        border-right-style: solid;
        border-right-color: #d6c08d;
    }

    .row1 {
        border-bottom-style: solid;
        border-bottom-color: #d6c08d;
        margin-top: -90px;
    }

    .contentcer {
        color: gray;
    }
    /*Project*/
    #project {
        
        width: 390px;
        
    }
    .colProject {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 30px;
        height: 495px;
        margin-top: 10px;
        margin-left: 30px;
        
    }
    
     #project .container {
        width: 290px;
        margin-left: -10px;
    }

    .project img{
        width: 170px; 
        height: 500px;
        
    }

  

    /*footer*/
    #footer {
        height: 100px;
        width: auto;
    }

    #footer .container {
        display: flex;
        margin-left: 230px;
        padding-top: 30px;
        width: 100px;
    }

    .foot {
        display: flex;
    }

    .ficon {
        color: blue;
    }
        
    
     



    


     
   

}